# 数据预处理
本章主要讨论收集到数据之后，如何进行数据的清洗和探索性分析。具体地，收集数据并存放在csv文件中，导入该csv文件后进行一定程度的数据清洗，并做可视化处理.

参考：
[1]https://www.bilibili.com/video/BV1Xh411p7M9/ 跟李沐学AI：2.1探索性数据分析

In [1]:
import numpy as np
import pandas as pd
# !pip install -i https://pypi.tuna.tsinghua.edu.cn/simple scipy==1.1.0
import matplotlib.pyplot as plt
from IPython import display
#matplotlib_inline.backend_inline.set_matplotlib_formats('svg')
#display.set_matplotlib_formats('svg')  老版本，IPython7.23后用以下
display.display_svg()

In [2]:
path = 'E:/jupyter notebook doc/data/d2l-house-price/train.csv'
data = pd.read_csv(path)

In [3]:
data.shape

(39407, 39)

In [4]:
data.head(1)

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Appliances included,Parking features,Construction materials,Roof,Tax assessed value,Annual tax amount,Laundry features,City,Zip,State
0,19633278,2029 Kent Dr,3308000.0,Located in the desirable Highlands neighborhoo...,SingleFamily,1959.0,Forced air,Central,"Garage, Garage - Attached, Covered",13068.0,...,"Dishwasher, Garbage disposal","Garage, Garage - Attached, Covered",wood frame,Composition,3200000.0,38898.0,Inside,Los Altos,94024,CA

接下来，我们把缺失数据超过30%的列（即特征）抛弃，把剩余的留下。
(如果一列里数据缺失超过30%，那我们就把这一特征丢掉，以此简化特征数量)

In [5]:
null_sum = data.isnull().sum()
data.columns[null_sum < len(data) * 0.3]

Index(['Id', 'Address', 'Sold Price', 'Summary', 'Type', 'Year built',
       'Heating', 'Parking', 'Bedrooms', 'Bathrooms',
       'Total interior livable area', 'Total spaces', 'Garage spaces',
       'Region', 'Elementary School', 'Elementary School Score',
       'Elementary School Distance', 'Middle School', 'Middle School Score',
       'Middle School Distance', 'High School', 'High School Score',
       'High School Distance', 'Heating features', 'Parking features',
       'Tax assessed value', 'Annual tax amount', 'City', 'Zip', 'State'],
      dtype='object')

In [6]:
# !pip install -i https://pypi.tuna.tsinghua.edu.cn/simple pandas==0.21
data.drop(columns=data.columns[null_sum > len(data) * 0.3], inplace = True)

In [7]:
data.shape

(39407, 30)

In [8]:
data.dtypes

Id                               int64
Address                         object
Sold Price                     float64
Summary                         object
Type                            object
Year built                     float64
Heating                         object
Parking                         object
Bedrooms                        object
Bathrooms                      float64
Total interior livable area    float64
Total spaces                   float64
Garage spaces                  float64
Region                          object
Elementary School               object
Elementary School Score        float64
Elementary School Distance     float64
Middle School                   object
Middle School Score            float64
Middle School Distance         float64
High School                     object
High School Score              float64
High School Distance           float64
Heating features                object
Parking features                object
Tax assessed value             float64
Annual tax amount              float64
City                            object
Zip                              int64
State                           object
dtype: object